Source: matching-pursuit
Section: net
Priority: extra
Maintainer: Zbigniew Jędrzejewski-Szmek <zbyszek@in.waw.pl>
Build-Depends: debhelper (>= 8.0.0),
      autoconf,
      automake,
      libfftw3-dev
Standards-Version: 3.9.3
Vcs-Git: git://escher.fuw.edu.pl/git/mp_engine
Vcs-Browser: http://escher.fuw.edu.pl/git/mp_engine

Package: matching-pursuit
Architecture: amd64 i386
Depends:
      ${misc:Depends},
      ${shlibs:Depends}
Description: Implementation of the Matching Pursuit algorithms
  This is version 5 (MP5).
